*{
    margin: 5px;
    padding: 0%;
    background-color: black;
}

.redes{
    width: auto;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
  padding: 10px;
    
}
.boxredes{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#animado{
color: white;
font-size: 20px;
text-decoration: none;

}


.menu{
width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.banner{
    height: 200px;
    width: 900px;
    border-radius: 10px;
    border: 1px solid #55008e;
 

}
.titulo{
    
    color: white;
    text-align: center;
    margin: 10px;
}
.yo,h2{
    color: #fff;
    font-family: cursive;
}
.boxlenguages{
    width: auto;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lenguages{
    height: 300px;
    width: 900px;
 display: flex;
 text-align: center;
 justify-content: space-around;
 align-items: center;


}
#animadocode{
    font-size: 100px;
    text-decoration:none ;
    color: #fff;
}
.tituloabout{
    text-align: center;
    
}
.about{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.aboutme{
    text-align: left;
    padding: 20px;
  
}
.like{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
.pasatiempos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sasuke{
    width: 200px;
    border-radius: 50%;
}
.sfv{
    width: 200px;
    border-radius:50%;
}