*{
    margin: 0px;
    padding: 0;


}

body{
       background-image: url(https://cdn.wallpapersafari.com/74/49/F7dPYn.jpg);
}



.titulo{
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    
}
nav{
   
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

a:hover{
color: #C080FF;

}


a{
    font-size: 25px;
text-decoration: none;
color: white;
margin: 40px;
}
.navegacion{
height: 20px;
  display: flex;
  align-items: center;
  
}
.busqueda{

    display: flex;
    align-items: center;
    
}
.botom{
    color: white;
    background-color: #C080FF;
    border-radius: 10px;
    height: 30px;
    width: 100px;
}
.text{
    border-radius: 5px;
    height: 30px;
    width: 200px;
}
.imagen{
    text-align: center;
   
}
.baner{
    width: 35%;
    height: 300px;
    border-radius: 30px;
}
.imagen2{
    width: 100%;
    text-align: center;
}

.carlos{
    
    width: 300px ;
    border-radius: 30px;
}
.proposito{
    width: 100%;
    
    text-align: center;
    font-size: 30px;
    color: black;

}
.footer{

	
   text-align: center;
}

.footer .share{
   padding:1rem 0;
}

.footer .share a{
   height: 5rem;
   width: 5rem;
   line-height: 5rem;
   font-size: 2rem;
   color:white;
   margin:.3rem;
   border-radius: 50%;
   border: solid 5px white;
   text-decoration: none;
}

.footer.links:hover {
	background:white;
}

/*#C080FF*/

.footer .links a{
   padding:.7rem 2rem;
   color:#fff;
   font-size: 2rem;
text-decoration: none;
}


.footer .credit{
   font-size: 2rem;
   color:#fff;
   font-weight: lighter;
   padding:1.5rem;
}


.footer .links a:hover{
	background:#C080FF;
    border-radius: 10px;
}

.footer .share a:hover{
	background:#C080FF;
}



/*  Dimension de table */


@media (max-width: 768px) {

    *{
        padding: auto;
        margin: auto;
    }
    .baner{
        width: auto;
    }

    p.titulo{
        height: 80px;
    }
    .carlos{
       margin-top: 70px;
       width: auto;
    }
    .proposito{
        width: auto;
        color: white;
    }
}

/*  Dimension de movil*/

@media (max-width: 768px) {
    *{
        padding: auto;
        margin: auto;  
    }
    p{
        width: 100%;
    }

}